<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<title>Sending texts!</title>
		<h1>This is the page that we'll use to send texts from!</h1>
		<form>
			<label for="phone_number">Phone Number:</label>
			<input type="tel" id="phone_number" name="phone_number" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="1234567890">
			<label for="message">Message to send:</label>
			<input type="text" id="message" name="message" placeholder="">
			<button type="submit" value="submit">Send message!</button>
		</form>
	</body>
</html>