<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<title>Automated SMS Platform</title>
		<h1>Automated SMS Platform</h1>
		<h2>From this page, you can send text messages to any phone number </h2>
		<!-- add error message if user puts invalid input -->
		{% if message %}
		<p class="message">{{ message | safe }}</p>
		{% endif %}
		<!-- add user form below-->
		<p>Type below the person's phone number and the text that you'd like to send them</p>
		<form action="{{url_for('send_text')}}" method = "post">
			<label for="phone_number">Phone Number:</label>
			<input type="tel" id="phone_number" name="phone_number" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="1234567890">
			<label for="message">Message to send:</label>
			<input type="text" id="message" name="message" placeholder="Type anything here">
			<button type="submit" value="submit">Send message!</button>
		</form>
	</body>
</html>